.universe{
    height: 100vh;
    background-image: url('https://static.spotapps.co/web/theshwack--com/custom/slide_6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
